@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.sticky-col {
  position: sticky;
  left: 1vw;
  z-index: 10;
  background-color: white;
  /* Ensure the sticky column has a background */
}

@font-face {
  font-family: "Sora";
  src: url("./assets/static/Sora-Regular.ttf");
}

.dot {
  left: 0.25rem;
  /* Initial position */
}

input:checked ~ .dot {
  transform: translateX(100%);
}

#ichestwidth {
  height: 100vh;
  /* Full viewport height */
}

#iwaistwidth {
  height: 100vh;
  /* Full viewport height */
}

#ishoulderwidth {
  height: 100vh;
}

#isleevelength {
  height: 100vh;
}

#ijacketlength {
  height: 100vh;
}

#iwaist {
  height: 100vh;
}

#iupperlegwidth {
  height: 100vh;
}

#iinsideleg {
  height: 100vh;
}

#isleevelengtht {
  height: 100vh;
}

.dott {
  left: 0.25rem;
}

input:checked ~ .dott {
  transform: translateX(100%);
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #e3dada;
  color: #000;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}

.button.active {
  background-color: black;
  color: white;
}

.next-button.active {
  background-color: black;
  color: white;
}
#result {
  display: none; /* Keep this if you want to control visibility with JavaScript */
  height: 100%; /* Set your desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Optional: add some padding */
  
  position: absolute; /* Retain the position if needed */
  top: 3rem; /* Adjust as needed */
  left: 2vw; /* Adjust as needed */
  width: 24vw;
}
.scanvas {
  position: relative;
  height: 50%;
  width: 10%;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.App {
  height: 80%;
  width: 100vw;
  user-select: none;
  background-color: #efefef;
  position: absolute;
  top: 5vh;
}

.truser {
  height: 45vh;
  width: 100vw;
  user-select: none;
  background-color: #efefef;
  position: absolute;
  top: 5vh;
}

.configurator {
  position: fixed;
  top: 3.5em;
  right: 2em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
  background: rgba(22, 22, 22, 0.2);
}

.configurator__section__title {
  text-transform: uppercase;
  /* font-weight: bold; */
  color: rgb(15, 14, 14);
}

.configurator__section__values {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item__dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid 2px #999999;
}

.item.item--active .item__dot {
  border: solid 2px white;
}

/* change */
.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: white;
  /* text-transform: capitalize; */
}

.item.item--active .item__label {
  color: rgb(54, 95, 231);
}

#nextModel {
  position: absolute;
  top: 100%;
  right: 10px;
  /* transform: translateY(-50%); */
  z-index: 1;
  /* padding: 10px; */
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
}

/* #confirm{
    background-color: rgb(157 167 155);
    font-weight: 600;
    font-size: large;
    width: 12vw;
  } */

.tablinks {
  /* height: 2vh; */
  /* position: absolute; */
  margin-top: -1vh;
  /* font-size: 20px; */
}

.tablinks {
  color: rgb(10, 10, 10);
}

.tablinks.active {
  background-color: rgb(239 234 234);
  backdrop-filter: blur(5px);
  color: black;
  font-weight: 600;
}

.tab {
  color: rgb(92, 81, 81);
  font-size: large;
}

.tab.active {
  background-color: rgb(239 234 234);
  font-weight: 500;
  color: black;
}

.cursor-pointer.active {
  border-color: #a1a1aa;
  border-width: 1px;
  border-style: solid;
}

.subtablinks {
  color: black;
}

.subtablinks.active {
  background-color: rgb(239 234 234);
  font-weight: 500;
  color: black;
}

.sublinks.active {
  background-color: rgb(239 234 234);
  font-weight: 500;
  color: black;
}

#potraitimg {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#pocketContent {
  z-index: 99;
  /* background-color: white; */
}

#buttonContent {
  z-index: 99;
}

/* .toggle {
  position: fixed;
  top: 1em;
  right: 2em;
}

.toggle1 {
  position: fixed;
  top: 1em;
  right: 10em;
}

.share {
  position: fixed;
  bottom: 1.5rem;
  left: 1rem;
}

.share:hover {
  box-shadow: inset 250px 0 0 0 black;
  transform: scale(1.1);
} */
/* .fab{
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
} */
.fabrics {
  margin-left: 2vw;
}

/* .pocket{
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
} */
.pokt {
  margin-left: 2vw;
}

/* .bt{
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
} */
/* .btn{
  margin-left: 2vw;
} */
.col {
  margin-left: 15vw;
}

#confirmation-modal {
  display: none;
}

#overlay {
  display: none;
}
